@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

body {
  background-color: #303030;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Oxygen Mono', monospace;
  overflow: hidden;
  min-height: 100vh; /* Ensure body takes at least full viewport height */
  position: relative; /* Ensure positioning context for the pseudo-element */
}

body::after {
  content: '';
  background-image: url('./img/UBCTG.png');
  background-size: contain; /* Adjust size as needed */
  background-repeat: no-repeat;
  position: absolute;
  width: 220px; /* Adjust width as needed */
  height: 120px; /* Adjust height as needed */
  bottom: 0;
  right: 0;
  margin: 15px;
}